<footer class="p-5 container-fluid bg-dark text-white fw-bold">
    <div class="row">
        <div class="col-12 col-md-6 text-end" >
            <h1>PARADISUS CANCÚN</h1>
            <h3>Mexico</h3>
            <h3>lorem | lorem | lorem</h3>
        </div>
        <div class="col-12 col-md-3 border-start align-self-center">
            <h5>Visitanos y danos el placer de atenderte</h5>
            <a href="">
                <i class="bi bi-instagram fs-2 text-white me-2 "></i>
            </a>
            <a href="">
                <i class="bi bi-facebook fs-2 text-white me-2  "></i>
            </a>
            <a href="">
                <i class="bi bi-whatsapp fs-2 text-white me-2 "></i>
            </a>
        </div>
        <div class="text-center p-3 mt-4" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="">Mateo Jaramillo Suarez Developer </a>
          </div>
    </div>
</footer>