<section class="container-fluid my-5">
    <div class="row">
        <div class="col-12 col-md-4 p-5 text-center">
            <h2>CALIFICACIONES</h2>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;">85%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;">60%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 90%;">90%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 93%;">93%</div>
            </div>
            <p class="text-start mt-4">Instalaciones y servicios</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 81%;">81%</div>
            </div>
            <img src="../../assets/imagen5.jpg" alt="" class="img-fluid w-100 mt-4 shadow rounded-4">
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <h1>Paradisus Cancún</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur vero omnis tempore suscipit aspernatur dolorem. Tenetur eaque nihil doloremque reprehenderit labore quo similique itaque dolorem, voluptatum illo dicta a. Repellendus aliquam fugiat maiores velit illum qui numquam optio, eaque hic cum dolores amet aperiam architecto, debitis possimus vel sunt ab assumenda reiciendis! Distinctio modi rerum qui ab commodi delectus, aspernatur, perferendis eum dolore, cupiditate nemo. Architecto nam accusantium repudiandae sapiente similique suscipit reiciendis culpa magnam ducimus, dignissimos sit rerum iste quasi repellendus illo doloribus tempore exercitationem perspiciatis itaque accusamus facere in assumenda. Quis optio, molestias temporibus dolore minima eos saepe!</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="../../assets/imagen1.jpg" alt="" class="img-fluid w-100 h-100 shadow rounded-4 zoom">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/imagen2.jpg" alt="" class="img-fluid w-100 h-100 shadow rounded-4 zoom">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6">
                    <img src="../../assets/imagen3.jpg" alt="" class="img-fluid w-100 h-100 shadow rounded-4 zoom">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/imagen4.jpg" alt="" class="img-fluid w-100 h-100 shadow rounded-4 zoom">
                </div>
            </div>
            <!-- <img src="../../assets/foto1.jpg" alt="" srcset="" class="img-fluid w-100"> -->
        </div>
        <div class="col-4"></div>
    </div>
</section>
<section class="banner2">
    
</section>


