<app-menu></app-menu>
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <h2>Registro De Habitacion En El Sistema</h2>
            <hr>
            <form [formGroup]="formulario" (ngSubmit)="procesarDatos()">

                <div class="mb-3">
                    <label class="form-label">Nombre:</label>
                    <input type="text" class="form-control" formControlName="nombre">
                </div>

                <div class="mb-3">
                    <label class="form-label">Foto:</label>
                    <input type="text" class="form-control" formControlName="foto">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Descripcion:</label>
                    <input type="text" class="form-control" formControlName="descripcion">
                </div>

                <div class="mb-3">
                    <label class="form-label">Precio Noche:</label>
                    <input type="number" class="form-control" formControlName="precio">
                </div>
                <div class="mb-3">
                    <label class="form-label">Numero De Personas:</label>
                    <input type="number" class="form-control" formControlName="numeropersonas">
                </div>
                <button type="submit" class="btn btn-primary w-100">Registrar</button>
            </form>
        </div>
        <div class="col-12 col-md-4 align-self-center">
            <img src="" alt="" class="img-fluid w-100">
        </div>
    </div>
</div>
