
<header>
  <nav class="nav-nike">
    <div class="nav-nike-top">
      <img src="assets/logo.png" alt="Logo" class="nav-nike-logo">
      <ul class="nav-nike-menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/novedades">Novedades</a></li>
        <li><a routerLink="/hombre">Hombre</a></li>
        <li><a routerLink="/mujer">Mujer</a></li>
        <li><a routerLink="/niños">Niños</a></li>
        <li><a routerLink="/deporte">Deporte</a></li>
        <li><a routerLink="/descuentos">Descuentos</a></li>
      </ul>
      <ul class="nav-nike-user">
        <li><a routerLink="/eventos">Eventos</a></li>
        <li><a routerLink="/ayuda">Ayuda</a></li>
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/register">Regístrate</a></li>
        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Iniciar sesión</a></li>
        <li *ngIf="auth.isLoggedIn()"><a (click)="logout()">Cerrar sesión</a></li>
        <li><a routerLink="/buscar-tienda">Buscar tienda</a></li>
      </ul>
    </div>
    <div class="nav-nike-bottom">
      <img src="assets/logo-nike.png" alt="Nike" class="nav-nike-logo2">
      <ul class="nav-nike-menu2">
        <li><a routerLink="/novedades">Novedades</a></li>
        <li><a routerLink="/hombre">Hombre</a></li>
        <li><a routerLink="/mujer">Mujer</a></li>
        <li><a routerLink="/niños">Niños</a></li>
        <li><a routerLink="/deporte">Deporte</a></li>
        <li><a routerLink="/descuentos">Descuentos</a></li>
      </ul>
      <div class="nav-nike-search">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Buscar" class="nav-nike-search-input">
      </div>
      <i class="fa fa-shopping-bag nav-nike-bag"></i>
    </div>
  </nav>
</header>
