<header>
  <nav class="nav-nike" id="menu">
    <div class="nav-nike-merged nav-nike-centered">
      <ul class="nav-nike-menu2">
        <li><a routerLink="/novedades">Novedades</a></li>
        <li><a routerLink="/hombre">Hombre</a></li>
        <li><a routerLink="/mujer">Mujer</a></li>
        <li class="nav-nike-center">
          <img src="../../assets/LOGO.png" alt="Logo" class="nav-nike-logo">
        </li>
        <li><a routerLink="/niños">Niños</a></li>
        <li><a routerLink="/deporte">Deporte</a></li>
        <li><a routerLink="/login">Check-in</a></li>
      </ul>
      <button class="nav-nike-reserva-btn">Reserva con nosotros</button>
    </div>
  </nav>
</header>
