<div class="container my-5">
    <div class="row row-cols-1 g-4 my-4">
        <div class="col" *ngFor="let habitacion of habitaciones">
            <div class="card alojamiento-card-horizontal">
                <img [src]="habitacion.foto[0] || 'https://via.placeholder.com/600x400?text=Sin+imagen'" alt="Habitación" class="img-fluid alojamiento-image-horizontal">
                <div class="alojamiento-body-horizontal">
                    <h4>{{habitacion.nombre}}</h4>
                    <p class="alojamiento-descripcion">{{habitacion.descripcion}}</p>
                    <h6>
                        <i class="bi bi-person-fill"></i>
                        X{{habitacion.numeropersonas}}
                    </h6>
                    <div class="servicios-lista" *ngIf="habitacion.servicios?.length">
                        <span class="servicio-chip" *ngFor="let servicio of habitacion.servicios">
                            <span class="servicio-icono">{{ getServicioIcono(servicio) }}</span>
                            <span>{{ servicio }}</span>
                        </span>
                    </div>
                    <h5 class="fw-bold">Desde:COP {{habitacion.precio}} </h5>
                    <button type="button" class="alojamiento-reservar-btn">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>
